
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h4>This is a web app where you can add and save your favourite video games or movies in an online list!</h4>
&nbsp;
<h5>Example :</h5>
<img src="/images/WebAppGif2Resized.gif" style="border: 5px solid #555; max-width: 100%; height: auto" alt="Example Gif">



