@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Games & Movies List!</h2>
    <h4>Click on the menu button to open the side bar:</h4>
    &nbsp;
    <img src="/images/WebAppGif1Resized.gif" style="border: 5px solid #555; max-width:100%; height:auto" alt="Example Gif">


</div>
